<!DOCTYPE html>
<html>
<head>
    <title>ASL Alphabet Image Recognition</title>
    <link rel="stylesheet" type="text/css" href="\static\home.css">
</head>

</head>
<body>
    <!-- Home Page -->
    <div id="home">
        <h1>ASL Alphabet Image Recognition</h1>
        <p>The American Sign Language (ASL) is the primary language used by deaf individuals in North America. It is a visual language that uses a combination of hand gestures, facial expressions, and body movements to convey meaning.</p><p>In recent years, there has been an increasing interest in developing technologies to help bridge the communication gap between the deaf and hearing communities.
            One such technology is ASL Alphabet Image Recognition, which is an image classification task that aims to recognize the ASL alphabet from images of hand signs. This project involves training a machine learning model to classify images of hand signs corresponding to the 26 letters of the English alphabet, as well as three additional classes for the signs for "space", "delete", and "nothing".</p> 
            <p>The trained model can be used to develop applications that can recognize the ASL alphabet from real-time video streams, which could be used to improve communication between the deaf and hearing communities.
        </p>
        <button onclick="location.href='/demo'">Try Demo</button>
    </div>
</body>
</html>